*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/css/images/background.png);
    background-size:cover ;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px    ;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: rgb(0, 255, 213);
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.content{
    color: rgb(64, 224, 117);
    position: absolute;
    top: 50%;
    left: 80px;
transform:translateY(-50%);
z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#222222 #002324);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 20px;
    cursor: pointer;

}
.social-link img , .useful-link img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
    

   
}
.social-link{
    width: 50px;
    top: 50%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);

}
.useful-link{
    width: 50px;
    bottom: 30px;
    text-align: center;
    position: absolute;


}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width:100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: -50px;
    align-items: center;
    
}
@keyframes bubble{
        0%{
        transform: translateY(0);
        opacity: 0;
    }
        50%{
        opacity: 1;
    }
        70%{
        opacity: 1;
    }
        100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s ;
}
.bubbles img:nth-child(2){
    animation-delay: 3s ;
}
.bubbles img:nth-child(3){
    animation-delay: 4s ;
}
.bubbles img:nth-child(4){
    animation-delay: 5s ;
}
.bubbles img:nth-child(5){
    animation-delay: 6s ;
}
.bubbles img:nth-child(6){
    animation-delay: 2s ;
}
.bubbles img:nth-child(7){
    animation-delay: 3s ;
}